{% extends 'base.html' %}

{% block content %}

<h3>{{ survey_obj.title }}</h3>
<p>{{ survey_obj.description }}</p>
<p>by: <span style="color: red;">{{ survey_obj.user }}</span></p>

{% if request.user and request.user == survey_obj.user %}
<a href="{{ survey_obj.get_update_url }}" class="btn btn-primary">Edit your Survey</a>
<a hx-get="{{ survey_obj.get_delete_url }}" hx-target="#survey_obj-delete-field" hx-trigger="click" hx-swap="innerHTML" class="btn btn-danger">Delete Survey</a>
<div id="survey_obj-delete-field"></div>
{% endif %}
<br><br>
<h3 style="color: rebeccapurple;">questions</h3>
<ol>
    {% for q in survey_obj.questions.all %}
        <li>
            <h4>{{ q.title }}<span style="font-size: x-small;">{{ q.question_type }}</span></h4>
        </li>
    {% endfor %}
</ol>


{% endblock content %}