{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<h1>Hello {% if profile.first_name %} {{profile.first_name}} {%else%} {{profile.user.username}} {%endif%}</h1>

<a href="{% url 'accounts:logout' %}" class="btn btn-outline-warning">Log Out</a>
<a href="{% url 'accounts:profile-completion' %}" class="btn btn-primary">Complete you profile</a>


{% endblock content %}