<!-- the edit form that takes the place of the question itself (or after the questions for a new question), allowing user to edit it
 if submitted, the edit view on hx-post will save it then send the new or updated question
 if canceled, the old question is loaded again and takes place of the form without the new content being saved -->

{% if question_obj %} <!-- if the question already exists, meaning we are editing it  -->
    <form action="." method="post" 
    hx-post="{{ question_obj.get_edit_url }}" hx-target="#q-{{question_obj.id}}" hx-swap="innerHTML">{% csrf_token %}
        {{ question_form.as_table }}


<!-- #region choice formset -->
    {% if question_obj.question_type == 'multiple_choice' %}
    <div id="choice-formset">
        {{ choice_formset.management_form }}
        <table>
            {% for ch_form in choice_formset %}
            <tr id="choice-row">
                 <td>{{ ch_form.as_table }}</td>
            </tr>
            {% if ch_form.non_field_errors %}
                <tr><td colspan="2">{{ ch_form.non_field_errors }}</td></tr>
            {% endif %}
            {% endfor %}
        </table>
        <p class="hint">Leave blank rows to skip creating them. Use Delete to remove existing choices.</p>
    </div>
    {% endif %}


<!-- #endregion -->

<!-- #region choices  -->
        <!-- <div id="choice-field">
        {% if question_obj.question_type == 'multiple_choice' %}
            {% if question_obj.choices.exists %}
                {% for choice in question_obj.choices.all %}
                    <div hx-get="{% url 'survey:choice-update' q_id=question_obj.id c_id=choice.id %}"
                    hx-trigger="load"
                    hx-target="#choice-field"
                    hx-swap="beforeend"></div>
                {% endfor %}
            {% endif %}
            <button type="button" hx-get="{% url 'survey:choice-create' q_id=question_obj.id %}"
            hx-trigger="click"
            hx-target="#choice-field"
            hx-swap="beforeend">Add Choices</button>
            <div id="new-choices"></div>
        {% endif %}
        </div>  -->
<!-- #endregion -->
        <button type="submit">Save</button>
        <button type="button" hx-get="{{question_obj.get_absolute_url}}" hx-target="#q-{{question_obj.id}}" hx-swap="outerHTML">Cancel</button>
    </form>
{% else %} <!-- if the question did not exists, meaning we are creating it  -->
    <form action="." method="post" id="new-question"
    hx-post="{% url 'survey:question-create' parent_slug=survey_obj.slug %}" 
    hx-target="this" 
    hx-swap="outerHTML">{% csrf_token %}
        {{ question_form.as_p }}
        <button type="submit">Save</button>
        <button type="button" hx-get="" hx-target="#new-question" hx-swap="delete">Cancel</button>
    </form>
{% endif %}

