<style>
    #save-btn .btn {
        display: inline;
    }
    #save-btn .indicator {
        display: none;
    }

    #save-btn.htmx-request .btn {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
    #save-btn.htmx-request .indicator {
        display: inline;
    }
</style>


    <h1>Create a New Survey</h1>

<form action="." method="post" id="title-form" hx-post="." hx-swap="outerHTML" hx-indicator="#save-btn">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="save-btn">
    <button class="btn btn-primary" type="submit">Continue</button>
    <span class="indicator" style="font-size: larger; color: brown;">progressing</span>
    </div>
</form>