<!-- not being user right now -->

{% if choice_obj %}
    <!-- #region choice update -->
    <form action="." method="post" id="c-{{choice_obj.id}}"
    hx-post="{% url 'survey:choice-update' q_id=question_obj.id c_id=choice_obj.id %}">{% csrf_token %}

    {{choice_form.as_p}}
    <button class="btn btn-xxs" hx-get="" hx-target="#c-{{choice_obj.id}}" hx-swap="delete">X</button>

    </form>
    <!-- #endregion -->
{% else %}
    <!-- #region choice create-->
    <form action="." method="post" id="c-new"
    hx-post="{% url 'survey:choice-create' q_id=question_obj.id %}">{% csrf_token %}

    {{choice_form.as_p}}
    <button class="btn btn-xxs" hx-get="" hx-target="#c-new" hx-swap="delete">X</button>

    </form>
    <!-- #endregion -->
{% endif %}