
{% comment %} ? -------------------------------------------------------------------
*     par-question.html
*   - Rendered when a question is in "display" mode inside the survey edit page. (not "edit" mode!)
*   - Buttons call HTMX endpoints to swap the question's container into the edit form,
*     or to show delete confirmation.
*   - Each question block has a unique DOM id (#q-<id>) — HTMX targets that id for swaps.
?   -------------------------------------------------------------------   {% endcomment %}

{% if create %}
    <div id="q-{{question_obj.id}}">
{% endif %}
    


<h4>{{ question_obj.title }}<span style="font-size: x-small; color: yellowgreen;">{{ question_obj.question_type }}</span></h4>

{% if question_obj.choices.exists %}
    <ol>
    {% for choice in question_obj.choices.all %}
        <li>
            {{ choice.title }}
        </li>
    {% endfor %}
    </ol>
{% endif %}

<button type="button" hx-get="{{ question_obj.get_update_url }}"
hx-target="#q-{{question_obj.id}}" hx-swap="innerHTML"
hx-trigger="click">EDIT</button>

<button type="button" hx-get="{{ question_obj.get_delete_url }}"
hx-target="#q-{{question_obj.id}}-delete-field" hx-swap="innerHTML"
hx-trigger="click">DELETE</button>

<div id="q-{{question_obj.id}}-delete-field"></div>


{% if create %}
    </div>
{% endif %}
    


    
